{% extends 'ecommerce/layout.html' %}
{% load static %}
{% block title %}Adicionar Produto{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                    <h1>Adicionar Produto</h1>
                    {% if message %}
                        <h3 style="color: green;">{{message}}</h3>
                    {% endif %}
                    <form action="{% url 'add_produto' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nome do Produto:</label>
                            <input type="text" name="nome_produto" class="form-control border border-danger" id="exampleFormControlInput1" placeholder="Nome do Produto">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Estoque dos Tamanhos:</label>
                            <input type="number" class="form-control border border-danger mb-1" id="exampleFormControlInput1" placeholder="P" name="tamanho_p" min="0">
                            <input type="number" class="form-control border border-danger mb-1" id="exampleFormControlInput1" placeholder="M" name="tamanho_m" min="0">
                            <input type="number" class="form-control border border-danger mb-1" id="exampleFormControlInput1" placeholder="G" name="tamanho_g" min="0">
                            <input type="number" class="form-control border border-danger" id="exampleFormControlInput1" placeholder="GG" name="tamanho_gg" min="0">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Descrição do Produto:</label>
                            <textarea class="form-control border border-danger" id="exampleFormControlTextarea1" rows="3" name="descricao_produto"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Categoria</label>
                            <select id="inputState" class="form-select border border-danger" name="categoria">
                                {% for categoria in categorias %}
								    <option value="{{categoria.pk}}">{{categoria.nome_categoria}}</option>
                                {% endfor %}
                                <option value="Nenhuma" selected>Nenhuma</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <p>
                                <button class="btn btn-outline-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                    aria-expanded="false" aria-controls="collapseExample">
                                    Criar Categoria
                                </button>
                            </p>
                            <div class="collapse" id="collapseExample">
                                <i style="padding-left: 4px;">Ao criar uma categoria, o produto será adicionado à ela.</i>
                                <input type="text" name="nova_categoria" class="form-control border border-danger" id="exampleFormControlInput1" placeholder="Nome da Categoria">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Valor do Produto:</label>
                            <input type="number" name="valor_produto" class="form-control border border-danger" min="0" value="0" step=".01" required>
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Imagem do Produto</label>
                            <input class="form-control border border-danger" type="file" id="formFile" name="image">
                        </div>
                        <button type="submit" class="btn btn-danger mb-3">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-6"></div>
        </div>
{% endblock %}