{% extends 'ecommerce/layout.html' %}
{% load static %}
{% block body %}
	<div style="background-color: rgb(255, 240, 245);">
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-12">
					<div class="box-element">
						<a class="btn btn-outline-danger" href="{% url 'index' %}">&#x2190; Volte às Compras</a>
						<br>
						<br>
						<table class="table">
							<tr>
								<th><h5>Items: <strong>{{pedido.get_total_items}}</strong></h5></th>
								<th>
									<h5>
										Total:
										<strong>
											{% if pedido.cupom_status %}
												{{pedido.get_total_cupom|floatformat:2}}
											{% else %}
												{{pedido.get_total_carrinho|floatformat:2}}
											{% endif %}
										</strong>
									</h5>
								
								{% if pedido.get_total_items > 0 %}
									{% if not pedido.cupom_status %}
										<form action="{% url 'cupom' pedido.pk %}" method="POST" style="width: fit-content;">
											{% csrf_token %}
											<input type="text" class="form-control border border-danger" name="cupom" placeholder="Cupom">
										</form>
									{% else %}
										<form action="{% url 'cupom' pedido.pk %}" method="POST" style="width: fit-content;">
											{% csrf_token %}
											<input type="text" class="form-control border border-danger" name="cupom" placeholder="Cupom" disabled>
										</form>
									{% endif %}
									{% if message|length > 16 %}
										<i style="font-size: 13px; color: green;">{{message}}</i>
									{% else%}
										<i style="font-size: 13px; color: red;">{{message}}</i>
									{% endif %}
								{% endif %}
								</th>
								<th>
									{% if request.user and pedido.get_total_carrinho %}
										<a  style="float:right; margin:5px;" class="btn btn-danger" href="{% url 'checkout' %}">Finalizar Pedido</a>
									{% endif%}
								</th>
							</tr>
						</table>
		
					</div>
		
					<br>
					<div class="">
						<div class="box-element">
							<div class="cart-row">
								<div style="flex:1"></div>
								<div style="flex:1"><p class="text-center"><strong>Produto</strong></p></div>
								<div style="flex:1"><p class="text-center"><strong>Preço</strong></p></div>
								<div style="flex:1"><p class="text-center"><strong>Quantidade</strong></p></div>
								<div style="flex:1"><p class="text-center"><strong>Total</strong></p></div>
							</div>
							{% for item in carrinho %}
								<div class="cart-row">
									<div style="flex:1"><img class="row-image" src="{{item.produto.image.url}}"></div>
									<div style="flex:1;">
										<a href="{% url 'produto_page' item.produto.pk %}" style="color: black; font-weight: bold;">
											<p>{{item.produto.nome_produto}} ({{item.tamanho}})</p>
										</a>
									</div>
									<div style="flex:1"><p class="text-center">R$ {{item.produto.valor_produto}}</p></div>
									<div style="flex:1">
										<div style="width: 4%; margin: 0 auto;">
											<form action="{% url 'carrinho_action' item.pk 'adicionar' %}" method="POST">
												{% csrf_token %}
												<input type="image" name="adicionar" class="chg-quantity update-cart" src="{% static 'ecommerce/Assets/arrow-up.png' %}">
											</form>

											<span style="padding-left: 1px;">{{item.quantidade}}</span>

											<form action="{% url 'carrinho_action' item.pk 'remover' %}" method="POST">
												{% csrf_token %}
												<input type="image" name="remover" value="x" class="chg-quantity update-cart" src="{% static 'ecommerce/Assets/arrow-down.png' %}">
											</form>
											
										</div>
									</div>
									<div style="flex:1"><p class="text-center">R$ {{item.get_total|floatformat:2}}</p></div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
