{% extends 'ecommerce/layout.html' %}
{% load static %}
{% block body %}
	<div class="container-fluid py-5" style="width: 80%;">
		<div class="row">
			<div class="col-lg-6">
				<div class="container-fluid box-element">
					<!-- <form action=""> -->
					<form class="row g-2" action="{% url 'checkout' %}" method="POST">
						{% csrf_token %}
						<div class="col-md-6">
							<input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" value="{{request.user.first_name}}" required>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome"
								name="sobrenome" value="{{request.user.last_name}}" required>
						</div>
						<div
							style="padding: 5px 0px 5px 8px; border-top: 1px solid rgba(0, 0, 0, 0.158); border-bottom: 1px solid rgba(0, 0, 0, 0.158);">
							<b>Informações de Envio:</b>
						</div>
						<div class="col-8">
							<input type="text" class="form-control" id="logradouro" placeholder="Rua" name="rua" required>
						</div>
						<div class="col-4">
							<input type="number" min="0" class="form-control" id="numero" placeholder="Número" name="numero" required>
						</div>
						<div class="col-6">
							<input type="text" class="form-control" id="bairro" placeholder="Bairro" name="bairro" required>
						</div>
						<div class="col-6">
							<input type="text" class="form-control" id="complemento" placeholder="Complemento (opcional)"
								name="complemento">
						</div>
						<div class="col-12">
							<input type="text" class="form-control" id="cidade" placeholder="Cidade" name="cidade" required>
						</div>
						<div class="col-md-4">
							<input type="text" maxlength="8" class="form-control" id="cep" placeholder="CEP" name="cep" required autofocus>
						</div>
						<div class="col-md-4">
							<select id="inputState" class="form-select" name="estado">
								<option value="AC">Acre</option>
								<option value="AL">Alagoas</option>
								<option value="AP">Amapá</option>
								<option value="AM">Amazonas</option>
								<option value="BA">Bahia</option>
								<option value="CE">Ceará</option>
								<option value="DF">Distrito Federal</option>
								<option value="ES">Espírito Santo</option>
								<option value="GO">Goiás</option>
								<option value="MA">Maranhão</option>
								<option value="MT">Mato Grosso</option>
								<option value="MS">Mato Grosso do Sul</option>
								<option value="MG">Minas Gerais</option>
								<option value="PA">Pará</option>
								<option value="PB">Paraíba</option>
								<option value="PR">Paraná</option>
								<option value="PE">Pernambuco</option>
								<option value="PI">Piauí</option>
								<option value="RJ">Rio de Janeiro</option>
								<option value="RN">Rio Grande do Norte</option>
								<option value="RS">Rio Grande do Sul</option>
								<option value="RO">Rondônia</option>
								<option value="RR">Roraima</option>
								<option value="SC">Santa Catarina</option>
								<option value="SP">São Paulo</option>
								<option value="SE">Sergipe</option>
								<option value="TO">Tocantins</option>
								<option value="EX">Estrangeiro</option>
							</select>
						</div>
						<div class="col-md-4 mb-2">
							<select id="inputState" class="form-select" disabled>
								<option value="BR" selected>Brasil</option>
							</select>
						</div>
						<strong style="color: red; display: none;" id="mensagem-erro">CEP não encontrado</strong>
				</div>
				<br>
				<div class="container-fluid box-element">
					<div class="row g-2">
						<div
							style="padding: 5px 0px 5px 8px; border-top: 1px solid rgba(0, 0, 0, 0.158); border-bottom: 1px solid rgba(0, 0, 0, 0.158);">
							<b>Informações de Pagamento:</b>
						</div>
						<div class="col-md-12">
							<input type="number" class="form-control" id="inputEmail4" placeholder="Número do Cartão"
								name="metodo_pagamento" required>
						</div>
						<div class="col-md-6">
							<input inputmode="numeric" maxlength="7" class="form-control" id="inputPassword4" placeholder="Vencimento (MM/AA)"
								name="vencimento" required>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" id="inputPassword4" placeholder="Código de Segurança"
								name="cvv" required>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" id="inputPassword4"
								placeholder="Nome impresso no cartão" name="nome_cartão" required>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="inputPassword4" placeholder="CPF" name="cpf" required>
						</div>
						<div class="col-12">
							<input type="submit" value="Pagar" class="btn btn-outline-danger">
						</div>
					</div>
				</div>
				</form>

			</div>

			<div class="col-lg-6">
				<div class="box-element">
					<a class="btn btn-outline-danger" href="{% url 'carrinho' %}">&#x2190; Voltar para o Carrinho</a>
					<hr>
					<h3 style="margin-top: 5px;">Sumário do Pedido</h3>
					<hr>
					{% for item in carrinho %}
					<div class="cart-row">
						<div style="flex:1"><img class="row-image" src="{{item.produto.image.url}}"></div>
						<div style="flex:2">
							<p>{{item.produto.nome_produto}}</p>
						</div>
						<div style="flex:1">
							<p>${{item.produto.valor_produto|floatformat:2}}</p>
						</div>
						<div style="flex:1">
							<p>x{{item.quantidade}}</p>
						</div>
					</div>
					{% endfor %}
					<h5 class="text-center">Items: {{pedido.get_total_items}}</h5>
					<h5 class="text-center">Total: 
						{% if pedido.novo_valor %}
							<strong>R${{pedido.novo_valor|floatformat:2}}</strong>
						{% else %}
							<strong>R${{pedido.get_total_carrinho|floatformat:2}}</strong>
						{% endif %}
					</h5>
				</div>
			</div>
		</div>
	</div>

	<script>
		const mensagemErro = document.querySelector("#mensagem-erro");
		
		document.getElementById("cep").addEventListener('input', function() {
			const cep = this.value

			if (cep.length == 8){
				const url = `https://viacep.com.br/ws/${cep}/json/`;

				fetch(url)
				.then(response => response.json())
				.then(data => {
					if (data.erro) {
						mensagemErro.style.display = 'block';
						resetField()
					} else {
						mensagemErro.style.display = 'none';
						document.getElementById('logradouro').value = data.logradouro;
						document.getElementById('complemento').value = data.complemento;
						document.getElementById('bairro').value = data.bairro;
						document.getElementById('cidade').value = data.localidade;
					}
				})
				.catch(error => {
					console.log("Erro ao buscar CEP", error);
					mensagemErro.style.display = 'block';
					resetFields()
				})
			}
		})

		function resetFields() {
            document.getElementById('logradouro').value = '';
            document.getElementById('complemento').value = '';
            document.getElementById('bairro').value = '';
            document.getElementById('cidade').value = '';
		}

	</script>
{% endblock %}