{% extends 'ecommerce/layout.html' %}
{% load static %}

{% block title %}A Toca Dos Animes{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="">
                                    <img src="{% static 'ecommerce/Assets/carousel/itadori.png' %}" class="d-block carousel-img" alt="..." /></a>
                            </div>
                            <div class="carousel-item">
                                <a href="">
                                    <img src="{% static 'ecommerce/Assets/carousel/luffy.png' %}" class="d-block carousel-img" alt="..." /></a>
                            </div>
                            <div class="carousel-item">
                                <a href="">
                                    <img src="{% static 'ecommerce/Assets/carousel/sasuke.jpg' %}" class="d-block carousel-img" alt="..." /></a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Próximo</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row ads">
                        <div class="ads">
                            <a href="">
                                <img src="{% static 'ecommerce/Assets/carousel/hinata.jpg' %}" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="row ads">
                        <div class="ads">
                            <a href="">
                                <img src="{% static 'ecommerce/Assets/carousel/marin.jpeg' %}" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="categories">
            <div class="container-fluid">
                <form action="">
                    <div class="row">
                        <div class="col-2" style="padding-left: 0"></div>
                        <div class="col-2">
                            <a href="">
                                <img src="{% static 'ecommerce/Assets/categories/narutoLogo.svg' %}" alt="" class="categoriesLogo nrtLogo" />
                            </a>
                        </div>
                        <div class="col-2">
                            <a href="">
                                <img src="{% static 'ecommerce/Assets/categories/onePieceLogo.svg' %}" alt="" class="categoriesLogo opLogo" />
                            </a>
                        </div>
                        <div class="col-2">
                            <a href="">
                                <img src="{% static 'ecommerce/Assets/categories/aotLogo.svg' %}" alt="" class="categoriesLogo aotLogo" />
                            </a>
                        </div>
                        <div class="col-2">
                            <a href="">
                                <img src="{% static 'ecommerce/Assets/categories/jujutsuLogo.svg' %}" alt="" class="categoriesLogo jkLogo" />
                            </a>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container-fluid cardsProduct">
            <div class="row" style="gap: 20px; padding: 30px;">
                {% for produto in produtos %}
                    <div class="col-2 shirt" style="">
                        <a href="{% url 'produto_page' produto.pk %}" style="color: inherit; text-decoration: none;">
                            <div class="cardProduct">
                                <img src="{{produto.img_url}}" class="card-img-top" alt="..."/>
                                <div class="card-body">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    <h5 class="card-title">{{produto.nome_produto}}</h5>
                                    <br />
                                    <p class="card-text">R$ {{produto.valor_produto}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="divider"></div>
    </main>
{% endblock %}
