{% extends 'ecommerce/layout.html' %}
{% load static %}

{% block title %}A Toca Dos Animes{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="productCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active ratio ratio-1x1">
                                <img src="{{produto.img_url}}" class="w-100 img-fluid" alt="..." width="">
                            </div>
                            <div class="carousel-item ratio ratio-1x1">
                                <img src="{{produto.img_url}}" class="w-100 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item ratio ratio-1x1">
                                <img src="{{produto.img_url}}" class="w-100 img-fluid" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h1>{{produto.nome_produto}}</h1>
                    </div>
                    <div class="row">
                        <div class="col-3" style=""> 
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="col">
                            <p>5.0 (280 Avaliações)</p>
                        </div>
                    </div>
                    <div class="row">
                        <h2>R$ {{produto.valor_produto}}</h2>
                    </div>
                    <div class="row">
                        <p>Tamanho</p>
                        <div class="container">
                            <form action="{% url 'produto_page' produto.pk %}" method="post">
                                {% csrf_token %}
                                <input type="radio" class="btn-check d-flex" name="tamanho" id="tamanho_p"
                                    autocomplete="off" value="P" checked>
                                <label class="btn" for="tamanho_p">P</label>

                                <input type="radio" class="btn-check" name="tamanho" id="tamanhoM"
                                    autocomplete="off" value="M">
                                <label class="btn" for="tamanhoM">M</label>

                                <input type="radio" class="btn-check" name="tamanho" id="tamanho_g"
                                    autocomplete="off" value="G">
                                <label class="btn" for="tamanho_g">G</label>

                                <input type="radio" class="btn-check" name="tamanho" id="tamanho_gg"
                                    autocomplete="off" value="GG">
                                <label class="btn" for="tamanho_gg">GG</label>
                                <div class="row mb-2">
                                    <div class="col">
                                        <label for="exampleInputQuantity" class="form-label">Quantidade</label>
                                        <input type="number" class="form-control d-flex" id="inputQuantity" min="1" name="quantidade" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-grid gap-2 mb-2">
                                        <button class="btn btn-danger" type="submit" name="carrinho" value="xd">Adicionar ao Carrinho</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-grid gap-2">
                                        <button class="btn btn-danger" type="submit" name="finalizar" value="True">Finalizar Compra</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <p>{{produto.descricao_produto}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </main>
{% endblock %}   