{% extends 'ecommerce/layout.html' %}
{% load static %}

{% block title %}A Toca Dos Animes{% endblock %}

{% block body %}
    <div style="background-color: rgb(255, 240, 245);">
        <div class="container p-5" style="background-color: white;">
            <div class="row">
                <div class="col-sm">
                    <div id="productCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                {% if produto.image %}
                                    <img src="{{produto.image.url}}" class="product-carousel img-fluid" alt="...">
                                {% else %}
                                    <img src="{{produto.img_url}}" class="product-carousel" alt="...">
                                {% endif %}
                            </div>
                            <div class="carousel-item">
                                <img src="" class="img-fluid product-carousel" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="" class="img-fluid product-carousel" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <p style="margin-top: 20px;">{{produto.descricao_produto}}</p>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="row mb-2">
                                <div class="col">
                                    {% if user.is_superuser or user.adm %}
                                        <form action="{% url 'deletar_produto' produto.pk %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-danger" style="border-radius: 0px;">Deletar</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h1>{{produto.nome_produto}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3"> 
                            <div style="display: flex; flex-wrap: nowrap; gap: 4px;">
                                {% for star in produto.review_status.filled_stars %}
                                    <i class="bi bi-star-fill" style="color: red;"></i>
                                {% endfor %}

                                {% for star in produto.review_status.unfilled_stars %}
                                    <i class="bi bi-star" style="color: red;"></i>
                                {% endfor %}
                                <span style="padding-left: 10px;">{{produto.review_status.rating|floatformat:1}}</span>
                            </div>
                            <span style="font-size: 14px;">{{produto.review_status.total_reviews}} reviews</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <h2>R$ {{produto.valor_produto}}</h2>
                    </div>
                    <div class="row">
                        <p>Tamanho</p>
                        <span id="span_p"  style="color: #F80000; margin-bottom: 9px; display: none;">{{produto.tamanho_p}} produtos restantes</span>
                        <span id="span_m"  style="color: #F80000; margin-bottom: 9px; display: none;">{{produto.tamanho_m}} produtos restantes</span>
                        <span id="span_g"  style="color: #F80000; margin-bottom: 9px; display: none;">{{produto.tamanho_g}} produtos restantes</span>
                        <span id="span_gg"  style="color: #F80000; margin-bottom: 9px; display: none;">{{produto.tamanho_gg}} produtos restantes</span>
                        <div class="container">
                            <form action="{% url 'produto_page' produto.pk %}" method="post" id="buy-form">
                                {% csrf_token %}
                                <input type="radio" class="btn-check tamanho-btn" name="tamanho" id="tamanho_p"
                                    autocomplete="off" value="P" checked>
                                <label class="zaza btn btn-outline-danger" for="tamanho_p">P</label>

                                <input type="radio" class="btn-check tamanho-btn" name="tamanho" id="tamanho_m"
                                    autocomplete="off" value="M">
                                <label class="zaza btn btn-outline-danger" for="tamanho_m">M</label>

                                <input type="radio" class="btn-check tamanho-btn" name="tamanho" id="tamanho_g"
                                    autocomplete="off" value="G">
                                <label class="zaza btn btn-outline-danger" for="tamanho_g">G</label>

                                <input type="radio" class="btn-check tamanho-btn" name="tamanho" id="tamanho_gg"
                                    autocomplete="off" value="GG">
                                <label class="zaza btn btn-outline-danger" for="tamanho_gg">GG</label>
                                <div class="row my-3">
                                    <div class="col">
                                        <label for="exampleInputQuantity" class="form-label">Quantidade</label>
                                        <input type="number" class="form-control d-flex" id="inputQuantity" min="1" name="quantidade" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-grid gap-2 mb-2">
                                        <button class="btn btn-danger" type="submit" name="carrinho" value="xd">Adicionar ao Carrinho</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-grid gap-2">
                                        <button class="btn btn-danger" type="submit" name="finalizar" value="True">Finalizar Compra</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider" style="margin: 2% 0% 2% 0%;"></div>
            <div class="container">
                <div class="row">
                    <div class="col border border-light-subtle p-3">
                        <div class="py-2">
                            <h5><strong>Avaliações de Clientes</strong></h5>
                        </div>
                        <hr style="opacity: 10%;">
                        {% if user in compradores %}
                            <form action="{% url 'comments' produto.pk %}" method="POST" style="width: 80%;" id="review-form">
                                {% csrf_token %}
                                <div class="py-2 stars">
                                    {% for estrela in estrelas %}
                                        <i id="estrela-{{estrela}}" class="bi bi-star-fill" style="padding-left: 4px; color: red;"></i>
                                    {% endfor %}
                                    <strong style="color: red; display: none;" id="mensagem-erro">Escolha uma avaliação</strong>
                                </div>
                                <input type="hidden" id="starValue" name="starValue" value="" required>
                                <div class="mb-4 mt-3">
                                    <h6><strong>Escreva uma crítica</strong></h6>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label" style="font-size: 13px;">Título da revisão</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Título" name="titulo" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label" style="font-size: 13px;">Corpo da Avaliação</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="texto" required></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-danger px-4 py-2" type="submit" style="border-radius: 0%;">Enviar crítica</button>
                                </div>
                            </form>
                            <hr style="opacity: 10%;">
                        {% endif %}

                        {% for comment in comments %}
                            <div class="px-2 py-3" style="width: 50%;">
                                <div class="row">
                                    <div class="col">
                                        <div class="pb-2">
                                            {% for estrela in comment.filled_stars %}
                                                <i class="bi bi-star-fill" style="color: red;"></i>
                                            {% endfor %}

                                            {% for estrela in comment.unfilled_stars %}
                                                <i class="bi bi-star" style="color: red;"></i>
                                            {% endfor %}
                                        </div>

                                        <p><strong>{{comment.titulo}}</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p style="font-size: 15px;"><strong>{{comment.usuario}}</strong> às {{comment.data_comentario}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p style="font-size: 15px;">{{comment.texto}}</p>
                                    </div>
                                </div>
                                <hr style="opacity: 15%;">
                            </div>
                            {% empty %}
                                <p>Este produto ainda não possui avaliações.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'ecommerce/script.js' %}"></script>
{% endblock %}   