{% extends 'ecommerce/layout.html' %}
{% load static %}

{% block title %}Camisetas{% endblock %}

{% block body %} 
    <div class="container products-page">
            <div class="row row row-cols-5">
                {% for produto in produtos %}
                    <div class="col">
                        <a href="{% url 'produto_page' produto.pk %}" style="color: inherit; text-decoration: none;">
                            <div class="cardProduct">
                                <img src="{{produto.img_url}}" class="card-img-top" alt="..."/>
                                <div class="card-body">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    <h5 class="card-title">{{produto.nome_produto}}</h5>
                                    <br>
                                    <p class="card-text">R$ {{produto.valor_produto}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="divider"></div>
{% endblock %}