{% extends 'ecommerce/layout.html' %}
{% load static %}

{% block title %}A Toca Dos Animes{% endblock %}

{% block body %}
    <div style="background-color: rgb(255, 240, 245);">
        <div class="container p-5" style="background-color: white;">
            <div class="row">
                <div class="col-sm">
                    <div id="productCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                {% if produto.image %}
                                    <img src="{{produto.image.url}}" class="product-carousel img-fluid" alt="...">
                                {% else %}
                                    <img src="{{produto.img_url}}" class="product-carousel" alt="...">
                                {% endif %}
                            </div>
                            <div class="carousel-item">
                                <img src="" class="img-fluid product-carousel" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="" class="img-fluid product-carousel" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <p style="margin-top: 20px;">{{produto.descricao_produto}}</p>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="row mb-2">
                                <div class="col">
                                    {% if user.is_superuser or user.adm %}
                                        <form action="{% url 'deletar_produto' produto.pk %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-danger">Deletar</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h1>{{produto.nome_produto}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1-sm"> 
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="col">
                            <p>5.0 (280 Avaliações)</p>
                        </div>
                    </div>
                    <div class="row">
                        <h2>R$ {{produto.valor_produto}}</h2>
                    </div>
                    <div class="row">
                        <p>Tamanho</p>
                        <div class="container">
                            <form action="{% url 'produto_page' produto.pk %}" method="post">
                                {% csrf_token %}
                                <input type="radio" class="btn-check d-flex" name="tamanho" id="tamanho_p"
                                    autocomplete="off" value="P" checked>
                                <label class="btn" for="tamanho_p">P</label>

                                <input type="radio" class="btn-check" name="tamanho" id="tamanhoM"
                                    autocomplete="off" value="M">
                                <label class="btn" for="tamanhoM">M</label>

                                <input type="radio" class="btn-check" name="tamanho" id="tamanho_g"
                                    autocomplete="off" value="G">
                                <label class="btn" for="tamanho_g">G</label>

                                <input type="radio" class="btn-check" name="tamanho" id="tamanho_gg"
                                    autocomplete="off" value="GG">
                                <label class="btn" for="tamanho_gg">GG</label>
                                <div class="row mb-2">
                                    <div class="col">
                                        <label for="exampleInputQuantity" class="form-label">Quantidade</label>
                                        <input type="number" class="form-control d-flex" id="inputQuantity" min="1" name="quantidade" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-grid gap-2 mb-2">
                                        <button class="btn btn-danger" type="submit" name="carrinho" value="xd">Adicionar ao Carrinho</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-grid gap-2">
                                        <button class="btn btn-danger" type="submit" name="finalizar" value="True">Finalizar Compra</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider" style="margin: 2% 0% 2% 0%;"></div>
            <div class="container">
                <div class="row">
                    <div class="col border border-light-subtle p-3">
                        <div class="py-2">
                            <h5><strong>Avaliações de Clientes</strong></h5>
                        </div>
                        <hr style="opacity: 10%;">
                        {% if user in compradores %}
                            <form action="{% url 'comments' produto.pk %}" method="POST" style="width: 60%;">
                                {% csrf_token %}
                                <div class="mb-4">
                                    <h6><strong>Escreva uma crítica</strong></h6>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label" style="font-size: 13px;">Título da revisão</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Título" name="titulo">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label" style="font-size: 13px;">Corpo da Avaliação</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="texto"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-danger px-4 py-2" type="submit" style="border-radius: 0%;">Enviar crítica</button>
                                </div>
                            </form>
                            <hr style="opacity: 10%;">
                        {% endif %}
                        {% for comment in comments %}
                            <div class="px-2 py-3" style="width: 50%;">
                                <div class="row">
                                    <div class="col">
                                        <p><strong>{{comment.titulo}}</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p style="font-size: 15px;"><strong>{{comment.usuario}}</strong> às {{comment.data_comentario}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p style="font-size: 15px;">{{comment.texto}}</p>
                                    </div>
                                </div>
                                <hr style="opacity: 15%;">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}   