{% extends 'ecommerce/layout.html' %}
{% load static %}

{% block title %}Registro{% endblock %}

{% block body %}
    <div class="cont">
        <div class="container containerLogin">
            <div class="row login-background">
                <div class="col-6">
    
                    <img src="" alt="">
    
                </div>
    
                <div class="col">
                    <div class="container container1">
                        <h1 class="center h1Login">Register</h1>
                        {% if message %}
                            <div style="color: #d12328;">{{message}}</div>
                        {% endif %}
                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}
    
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control input-login" id="floatingInput"
                                    placeholder="name@example.com" name="email">
                                <label for="floatingInput">Digite o seu Email</label>
                            </div>
    
                            <div class="form-floating  mb-3">
                                <input type="password" class="form-control input-login" id="floatingPassword"
                                    placeholder="Password" name="password">
                                <label for="floatingPassword">Digite a sua Senha</label>
                            </div>
    
                            <div class="form-floating  mb-3">
                                <input type="password" class="form-control input-login" id="confirmFloatingPassword"
                                    placeholder="Password" name="confirmation">
                                <label for="floatingPassword">Confirme a sua Senha</label>
                            </div>
    
                            <div class="form-floating">
                                <input type="text" class="form-control input-login" id="floatingCelular"
                                    placeholder="celular" name="celular">
                                <label for="celular">Digite o seu Celular</label>
                            </div>
    
                            <div class="d-grid gap-2 button-login">
                                <button type="submit" class="btn btn-danger">Criar Login</button>
                            </div>
    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}