{% extends 'ecommerce/layout.html' %}
{% load static %}

{% block title %}A Toca Dos Animes{% endblock %}

{% block body %}
    <div style="margin: 80px 0px 80px 0px;">
        <div class="container-fluid cardsProduct">
            <div class="row" style="gap: 20px">
                {% for produto in produtos %}
                    <div class="col-2">
                        <a href="{% url 'produto_page' produto.pk %}" style="color: inherit; text-decoration: none;">
                            <div class="cardProduct">
                                <img src="{{produto.img_url}}" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    <h5 class="card-title">{{produto.nome_produto}}</h5>
                                    <br />
                                    <p class="card-text">R$ {{produto.valor_produto}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% empty %}
                        <div>
                            <h4>Nenhum resultado para <strong>{{user_input}}</strong>.</h4>
                               <p>Tente verificar a ortografia ou usar termos mais genéricos</p>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}