@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:wght@300;400&display=swap");

:root {
  --red-primary: #f80000;
  --pink-card: #FFA2A2;
}

* {
  font-family: "Roboto";
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: rgb(153, 3, 3);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Header */


.navbar {
  background-color: var(--red-primary);
  border-radius: 50px;
  width: 98.5%;
  margin: 10px;
  display: grid;
  grid-template-columns: 10% auto auto auto;
  align-items: center;
  box-shadow: 0px 10px 3px #d9d9d9;
  font-weight: 400;
}

.logo {
  display: flex;
  max-width: 80px;
  max-height: 80px;
  margin-right: 200px;
  margin-left: 15%;
  justify-content: center;
}

.inputSearch {
  background-color: transparent;
  width: 300px;
  height: 50px;
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
  color: white;
  padding: 1%;
  align-items: center;
  background-image: url(Assets/icons/iconSearch.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

.inputSearch:hover {
  transform: scale(1.1);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.inputSearch::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
}

.iconsLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.nav-link{
  color: white;
}

.nav-link:hover {
  transform: scale(1.2);
}

.iconsLinks a i {
  color: white;
  font-size: 230%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconsLinks p {
  text-align: center;
  color: white;
  font-size: 12px;
  margin: 0;
}

.login {
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 5%;
  white-space: nowrap;
  height: 50px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
}

.login a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.login:hover {
  transform: scale(1.1);
}

/* Main */

main {
  margin: 4%;
}

/* Carousel */

.carousel {
  box-shadow: 5px 10px 3px #d9d9d9;
}

.carousel:hover{
  transform: scale(1.01);
}

.carousel-item img {
  height: 35vw;
  width: 60vw;
  border-radius: 3px;
}

/* announcement */

.ads img {
  width: 100%;
  box-shadow: 3px 5px 3px #d9d9d9;
  border-radius: 3px;
}

.ads:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.col-4 {
  max-height: 30vw;
}
.col-4 .row {
  padding: 4%;
}

.divider{
  width: 100%;
  border: 1px solid #fc7d7dad;
  margin: 5% 0% 5% 0%;
}

/* Categories */

.categories{
  width: 100%;
  background-color: var(--red-primary);
  height: 7vw;
  box-shadow: 3px 10px 3px #d9d9d9;
  border-radius: 5px;
  display: flex;
  align-content: center;

}

.categoriesLogo{
  width: 30%;
  height: 100%;
  color: white;
}


.categoriesLogo:hover{
  transform: scale(1);
  background-color: rgba(248, 92, 92, 0.2);
  padding: 15px;
  border-radius: 20px;
}

.categories .col-2{
  height: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.categoriesLogo img{
  align-items: center;
  justify-content: center;
  display: flex;
}

.jkLogo{
  width: 75%;
  height: 65%;
}

.nrtLogo{
  width: 50%;
  height: 65%;
}

.opLogo{
  width: 40%;
  height: 65%;
}

@media screen and (max-width: 700px) {
  
  .categories{
    height: 10vw;
  }

  .categories .col-2{
    height: 10vw;
  }

  .categoriesLogo:hover{
    padding: 0;
  }

  .jkLogo{
    width: 100px;
    height: 65%;
  }

  .nrtLogo{
    width: 70px;
    height: 65%;
  }

  .opLogo{
    width: 60px;
    height: 65%;
  }

}

@media screen and (max-width: 500px) {
  .categories{
    height: 15vw;
  }

  .categories .col-2{
    height: 15vw;
  }

  .categoriesLogo{
    width: 70%;
  }

  .categoriesLogo:hover{
    background-color: none;
    border-radius: 0;
  }

  .jkLogo{
    width: 65px;
    height: 65%;
  }

  .nrtLogo{
    width: 45px;
    height: 65%;
  }

  .opLogo{
    width: 40px;
    height: 65%;
  }

  .aotLogo{
    width: 25px;
  }
}

.showMore{
  margin-top: 2%;
  font-size: 18px;
  color: var(--red-primary);
  font-weight: 900;
  width: 30px;
  white-space: nowrap;
}

.showMore:hover{
  cursor: pointer;
  font-size: 20px;
}


/* Products cards */

.cardsProduct .row{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding: 70px 50px 0px 50px;
}


.cardProduct{
  width: 90%;
  height: 100%;
  border: 2px solid var(--pink-card);
  border-radius: 5px;
  box-shadow: 0px 8px 2px #d9d9d9;
  padding: 10px;
  text-align: center;
}

.cardProduct:hover{
  cursor: pointer;
  transform: scale(0.9);
}

.card-body i{
  padding: 3px;
  color: var(--red-primary);
}


/* Footer */

footer{
  width: 100%;
  height: 25vw;
  background-color: var(--red-primary);
  padding: 3%;
  align-items: center;
  border-radius: 4px;
}

footer .redeSocial{
  width: 50%;
  height: 19%;
  margin-left: 25%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  
}

footer .redeSocial h4{
  font-weight: 900;
  margin-right: 20%;
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  /* margin-bottom: -1em; */
}

footer img{
  width: 50px;
}

footer img:hover{
  width: 55px;
}

.dividerFooter{
  width: 100%;
  background-color: white;
  height: 2px;
  margin: 3% 0% 3% 0%;
}

.footerInfo a{
  display: flex;
  text-decoration: none;
  color: white;
  line-height: 2;
  gap: 20px;
  text-align: left;
}

.space {
  margin-bottom: 5px;
}

/* Auth */

:root {
    --red-primary: #f80000
}

.center {
    text-align: center;
}

.login-background {
    background-color: white;
    border-radius: 16px;
    padding: 50px;
}

.input-login {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.button-login {
    margin-top: 4rem;
}

a {
    text-decoration: none;
}

.linkEsqueciMinhaSenha {
    color: var(--red-primary);
}

.containerEsqueciMinhaSenha {
    padding-bottom: 3rem;
    margin: 0.5rem 0;
}

.cont {
    background-color: rgb(255, 240, 245);
}


.h1Login {
    /* margin-top: 60px; */
    margin-bottom: 60px;
}

.container1 {
    max-width: 70%;
}

.input-login:focus {
    box-shadow: none;
    border-color: var(--red-primary);
}

/* Search Bar */

.search-bar .row{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding: 0px 50px 0px 50px;
}

/* Products Page */

.products-page{
  padding: 100px 100px 0px 100px;
}

.products-page .row{
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.products-page .row .col{
  margin-bottom: 30px;
}